#!/usr/bin/env bash
# SPDX-License-Identifier: MIT
# Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>

if [[ -e "${ERROR_LOG}" ]]; then
    rm "${ERROR_LOG}"
fi

# vim: set ft=bash shiftwidth=2 tabstop=2:
