#!/usr/bin/env bash
# SPDX-License-Identifier: MIT
# Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>
#
#{{ template "install_helpers.sh" . }}

packages=(
  git
  neovim
  tmux
  vim-nox
  zsh
#{{ if ne .machineType "min" }}
  apt-file
  aptitude
  btop
  curl
  dconf-cli
  eza
  fd-find
  fzf
  git-crypt
  ipython3
  locate
  shellcheck
  wget
#{{ if .needBuildTools }}
  autoconf
  automake
  build-essential
  ccache
  clang
  clang-format
  cmake
  direnv
  editorconfig
  exuberant-ctags
  flang
  g++
  gcc
  libcriticism-perl
  libxml2-dev
  lld
  llvm
  make
  markdown
  markdownlint
  ninja-build
  pkg-config
  pre-commit
  pylint
  python-is-python3
  rbenv
  rustup
#{{ end }}
#{{ end }}
)
# install_apt_pkgs "${packages[@]}"

packages_noerr=(
  starship
#{{ if ne .machineType "min" }}
  batcat
  du-dust
#{{ end }}
)
# install_apt_pkgs_noerr "${packages_noerr[@]}"

snap_packages=()
#{{ if ne .machineType "min" }}
if ! command -v tldr >/dev/null 2>&1; then
  snap_packages+=(tldr)
fi
#{{ end }}

install_snap_pkgs "${snap_packages[@]}"

# vim: set ft=bash shiftwidth=2 tabstop=2:
