#!/usr/bin/env bash
# SPDX-License-Identifier: MIT
# Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>
#
#{{ template "install_helpers.sh" . }}

packages=(
  neovim
  tmux
  vim-nox
  zsh
#{{ if ne .machineType "min" }}
  apt-file
  aptitude
  autoconf
  automake
  btop
  build-essential
  ccache
  clang
  clang-format
  cmake
  curl
  dconf-cli
  direnv
  editorconfig
  exuberant-ctags
  eza
  fd-find
  flang
  fzf
  g++
  gcc
  git
  git
  git-crypt
  ipython3
  libcriticism-perl
  libxml2-dev
  lld
  llvm
  locate
  make
  markdown
  markdownlint
  ninja-build
  pkg-config
  pre-commit
  pylint
  python-is-python3
  rbenv
  rustup
  shellcheck
  silversearcher-ag
  wget
#{{ end }}
)
install_apt_pkgs "${packages[@]}"

packages_noerr=(
  batcat
  du-dust
  starship
)
install_apt_pkgs_noerr "${packages_noerr[@]}"

snap_packages=()
if ! command -v tldr >/dev/null 2>&1; then
  snap_packages+=(tldr)
fi

install_snap_pkgs "${snap_packages[@]}"

# vim: set ft=bash shiftwidth=2 tabstop=2:
