[submodule "ishlib"]
	path = ishlib
	url = git@github.com:ishkamiel/ishlib.git
	branch = main
[submodule "oh-my-zsh/themes/powerlevel10k"]
	path = oh-my-zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "external/fzf"]
	path = external/fzf
	url = https://github.com/junegunn/fzf.git
