{{- /*

 Author: Hans Liljestrand <hans@liljestrand.dev>
 Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>

 Distributed under terms of the MIT license.
*/ -}}

{{ if eq .chezmoi.os "windows" -}}
{{- /* ---------------------------------------------------------- Windows */ -}}

# ...

{{ else -}}
{{- /* -------------------------------------------------------- Unix-like */ -}}
#!/usr/bin/env bash
{{ template "install_helpers.sh" . }}

{{ if hasPrefix .chezmoi.osRelease.id "ubuntu" -}}
{{- /* ----------------------------------------------------------- Ubuntu */ -}}

# FIXUP: fzf starship

packages=(
    curl
    btop
    direnv
    eza
    fd-find
    fzf
    git
    ipython3
    locate
    git-crypt
    python-is-python3
    silversearcher-ag
    wget
)
install_apt_pkgs "${packages[@]}"
packages=(
    batcat
    du-dust
    starship
)
install_apt_pkgs_noerr "${packages[@]}"

{{ else if hasPrefix .chezmoi.osRelease.id "fedora" -}}
{{- /* ----------------------------------------------------------- Fedora */ -}}

packages=(
    batcat
    curl
    btop
    direnv
    du-dust
    eza
    fd-find
    fzf
    git
    ipython3
    locate
    git-crypt
    python-is-python3
    silversearcher-ag
    starship
    wget
)
install_dnf_pkgs "${packages[@]}"

{{- else if (eq .chezmoi.os "darwin") }}
{{- /* ------------------------------------------------------------ MacOS */ -}}

if ! command -v starship >/dev/null 2>&1; then
    if ! curl -sS https://starship.rs/install.sh | sh; then
        log_error "Failed to install: starship"
    fi
fi

{{ end -}}
{{- /* -------------------------------------------------------- Unix-like */ -}}



# ...

{{ end -}}
# vim: set ft=bash:
