{{- /*

 Author: Hans Liljestrand <hans@liljestrand.dev>
 Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>

 Distributed under terms of the MIT license.
*/ -}}

{{ if eq .chezmoi.os "windows" -}}
{{- /* ---------------------------------------------------------- Windows */ -}}

# ...

{{ else -}}
{{- /* -------------------------------------------------------- Unix-like */ -}}
#!/usr/bin/env bash

{{ template "install_helpers.sh" . }}

if [[ -e "${ERROR_LOG}" ]]; then
    rm "${ERROR_LOG}"
fi

{{ end -}}
# vim: set ft=bash:
