{{- /*

 Author: Hans Liljestrand <hans@liljestrand.dev>
 Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>

 Distributed under terms of the MIT license.
*/ -}}

{{ if eq .chezmoi.os "windows" -}}
{{- /* -------------------------------------------------------- Windows --*/ -}}

# ...

{{ else -}}
{{- /* ----------------------------------------------------- Linux-like --*/ -}}
#!/usr/bin/env bash
{{ template "install_helpers.sh" . }}

set -euo pipefail

FN_VIM="${HOME}/.vim/autoload/plug.vim"
FN_NEOVIM="${HOME}/.config/nvim/autoload/plug.vim"
URL_PLUG="https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"

if command -v vim >/dev/null 2>&1; then
	if [[ ! -e ${FN_VIM} ]]; then
		# If needed, just copy vim-plug into neovim from vim
		mkdir -p "$(dirname "${FN_VIM}")"
		downloadFile "${URL_PLUG}" "${FN_VIM}"
	fi
	[[ -e ${FN_VIM} ]] && vim +PlugInstall +qall
fi

if command -v nvim >/dev/null 2>&1; then
	if [[ ! -e ${FN_NEOVIM} ]]; then
		# If needed, just copy vim-plug into neovim from vim
		mkdir -p "$(dirname "${FN_NEOVIM}")"
		downloadFile "${URL_PLUG}" "${FN_NEOVIM}"
		mkdir -p ~/.config/nvim/minisnip
	fi
	[[ -e ${FN_NEOVIM} ]] && nvim +PlugInstall +qall
fi

{{ end -}}
# vim: set ft=bash:
