{{- /*

 Author: Hans Liljestrand <hans@liljestrand.dev>
 Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>

 Distributed under terms of the MIT license.
*/ -}}

{{ if eq .chezmoi.os "windows" -}}
{{- /* ---------------------------------------------------------- Windows */ -}}

# ...

{{ else -}}
{{- /* -------------------------------------------------------- Unix-like */ -}}
#!/usr/bin/env bash
{{ template "install_helpers.sh" . }}

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
{{- /* ----------------------------------------------------------- Ubuntu */ -}}

apt_packages=(
    git
    neovim
    tmux
    zsh
)
install_apt_pkgs "${apt_packages[@]}"

{{ else if eq .chezmoi.osRelease.id "fedora" -}}
{{- /* ----------------------------------------------------------- Fedora */ -}}

dnf_packages=(
    neovim
    tmux
    zsh
)
install_dnf_pkgs "${dnf_packages[@]}"

{{- else if (eq .chezmoi.os "darwin") }}
{{- /* ------------------------------------------------------------ MacOS */ -}}

# ...

{{ end -}}
{{- /* -------------------------------------------------------- Unix-like */ -}}

# ...

{{ end -}}
# vim: set ft=bash:
