#!/usr/bin/env bash
# SPDX-License-Identifier: MIT
# Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>

if [[ -e "${ERROR_LOG}" ]]; then
    echo
    echo
    echo "Encountered errors:"
    echo
    cat "${ERROR_LOG}"
    rm "${ERROR_LOG}"
else
    echo "All ok"
fi

# vim: set ft=bash shiftwidth=2 tabstop=2:
