{{- /*

 Author: Hans Liljestrand <hans@liljestrand.dev>
 Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>

 Distributed under terms of the MIT license.
*/ -}}

{{ if eq .chezmoi.os "windows" -}}
{{- /* -------------------------------------------------------- Windows --*/ -}}

# ...

{{ else -}}
{{- /* ----------------------------------------------------- Linux-like --*/ -}}
#!/usr/bin/env bash
{{ template "install_helpers.sh" . }}

set -euo pipefail

if command -v zsh >/dev/null 2>&1; then
	zsh -ic build-fzf-tab-module
fi

{{ end -}}
# vim: set ft=bash:
