{{- /*

 Author: Hans Liljestrand <hans@liljestrand.dev>
 Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>

 Distributed under terms of the MIT license.
*/ -}}

{{ if eq .chezmoi.os "windows" -}}
{{- /* ---------------------------------------------------------- Windows */ -}}

# ...

{{ else -}}
{{- /* -------------------------------------------------------- Unix-like */ -}}
#!/usr/bin/env bash
{{ template "install_helpers.sh" . }}

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
{{- /* ----------------------------------------------------------- Ubuntu */ -}}

# FIXUP: fzf starship

apt_packages=(
    batcat
    curl
    btop
    direnv
    du-dust
    eza
    fd-find
    fzf
    git
    ipython3
    locate
    git-crypt
    python-is-python3
    silversearcher-ag
    starship
    wget
)
install_apt_pkgs "${apt_packages[@]}"

{{ else if eq .chezmoi.osRelease.id "fedora" -}}
{{- /* ----------------------------------------------------------- Fedora */ -}}

# ...

{{- else if (eq .chezmoi.os "darwin") }}
{{- /* ------------------------------------------------------------ MacOS */ -}}

# ...

{{ end -}}
{{- /* -------------------------------------------------------- Unix-like */ -}}

# ...

{{ end -}}
# vim: set ft=bash:
