{{- /*

 Author: Hans Liljestrand <hans@liljestrand.dev>
 Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>

 Distributed under terms of the MIT license.
*/ -}}

{{- if eq .chezmoi.os "windows" -}}
{{- /* -------------------------------------------------------- Windows --*/ -}}

# ...

{{ else -}}
{{- /* ----------------------------------------------------- Linux-like --*/ -}}
#!/usr/bin/env bash
{{ template "install_helpers.sh" . }}

log_error "DISABLED: run_onchange_ubuntu_keybindings.sh.tmpl"
exit 0

set -e
DOTFILES=${DOTFILES:-"${HOME}/.dotfiles"}
# shellcheck source=../lib/checks.sh
. "${DOTFILES}/lib/checks.sh"
# shellcheck source=../lib/debug.sh
. "${DOTFILES}/lib/debug.sh"

SUMFILE="${DOTFILES}/.keybindings.md5"
KEYFILE="${DOTFILES}/ubuntu_keybindings"
PYSCRIPT="${DOTFILES}/lib/keybindings.pl"

if ! running_ubuntu; then
    say "skipped, not on ubuntu\n"
    exit 0
fi

if ! running_gnome; then
    say "skipped, not running gnome\n"
    exit 0
fi

if ! md5sum --check --quiet "${SUMFILE}" > /dev/null 2>&1; then
    echo "applying"
    "${PYSCRIPT}" -i "${KEYFILE}"
    md5sum "${KEYFILE}" > "${SUMFILE}"
else
    echo "Already applied"
fi

{{ end -}}
# vim: set ft=bash:
