[Desktop Entry]
Name=Conky
GenericName=
Comment=
Exec=/home/ishkamiel/.conky/start_conky.sh
Terminal=false
Type=Application
Icon=conky
Categories=
StartupNotify=false
