[Desktop Entry]
Name=repo_status.sh
GenericName=
Comment=
Exec=repo_status.sh update
Terminal=false
Type=Application
Icon=conky
Categories=
StartupNotify=false
