<#
SPDX-License-Identifier: MIT
Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>
#>

$ErrorActionPreference = "Stop"
$ProgressPreference = "SilentlyContinue"
{{ template "windows/install_helpers.ps1" . }}
{{ template "windows/logger.ps1" . }}

if (-not (Get-Command winget -ErrorAction SilentlyContinue)) {
    Write-ErrorLog "winget not available; install App Installer from Microsoft Store and rerun."
    exit 1
}

$packages = @(
    "AutoHotkey.AutoHotkey"
    "BurntSushi.ripgrep.MSVC"
    "Git.Git"
    "Microsoft.PowerShell"
    "Microsoft.PowerToys"
    "Microsoft.VisualStudioCode"
    "Microsoft.WindowsTerminal"
    "Neovim.Neovim"
    "Obsidian.Obsidian"
    "Starship.Starship"
    "eza-community.eza"
    "junegunn.fzf"
    "sharkdp.bat"
    "sharkdp.fd"
{{ if .isWork }}
    "Google.Chrome"
{{ else }}
    "Brave.Brave"
{{ end }}
{{ if eq .machineType "personal" }}
    "AgileBits.1Password"
    "Dropbox.Dropbox"
    "EpicGames.EpicGamesLauncher"
    "GOG.Galaxy"
    "Neovim.Neovim"
    "OpenRGB.OpenRGB"
    "Playnite.Playnite"
    "Rem0o.FanControl"
    "Valve.Steam"
{{ end }}
)
Install-WingetPackageList -Ids $packages

# vim: set filetype=ps1:
