[Desktop Entry]
Type=Application
Exec=/home/ishkamiel/personal/configs/DesktopStartupScript.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=DesktopStartupScripts
Name=DesktopStartupScripts
Comment[en_US]=
Comment=
