<#
SPDX-License-Identifier: MIT
Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>
#>

{{ template "windows/logger.ps1" . }}

$ErrorActionPreference = "Stop"
$ProgressPreference = "SilentlyContinue"

Close-Logger

# vim: set filetype=ps1:
