<#
SPDX-License-Identifier: MIT
Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>
#>

$ErrorActionPreference = "Stop"
$ProgressPreference = "SilentlyContinue"
{{ template "windows/install_helpers.ps1" . }}
{{ template "windows/logger.ps1" . }}

if (-not (Get-Command winget -ErrorAction SilentlyContinue)) {
    Write-ErrorLog "winget not available; install App Installer from Microsoft Store and rerun."
    exit 1
}

$packages = @(
    "BurntSushi.ripgrep.MSVC"
    "Git.Git"
    "Microsoft.VisualStudioCode"
    "Microsoft.WindowsTerminal"
    "Neovim.Neovim"
    "Starship.Starship"
    "eza-community.eza"
    "junegunn.fzf"
    "sharkdp.bat"
    "sharkdp.fd"
)
Install-WingetPackageList -Ids $packages

$optionalPackages = @(
)
Install-WingetPackageList -Ids $optionalPackages -Optional

# vim: set filetype=ps1:
