#!/usr/bin/env bash
# SPDX-License-Identifier: MIT
# Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>
#
# fzf-revision: v0.70.0  # keep in sync with .chezmoiexternal.toml (update-externals.sh)
#
#{{ template "install_helpers.sh" . }}

set -euo pipefail

if [[ ! -e "${HOME}/.fzf" ]]; then
  log_error "Cannot find ~/.fzf"
  exit 1
fi

pushd "${HOME}/.fzf" > /dev/null || exit 1
output="$(./install --key-bindings --completion --no-update-rc --no-bash --no-zsh --no-fish 2>&1)" || \
  exit_with_error 1 "Failed to install fzf: ${output}"
popd > /dev/null || exit 1

# vim: set ft=bash shiftwidth=2 tabstop=2:
