#!/usr/bin/env bash
# SPDX-License-Identifier: MIT
# Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>
#
#{{ template "install_helpers.sh" . }}
#{{ template "install_helpers_cargo.sh" . }}

set -euo pipefail

# This is required for Fedora, Ubuntu links rustc to rustup
if command -v rustup-init >/dev/null 2>&1; then
  if [[ ! -f "${HOME}/.rustup/settings.toml" ]]; then
    rustup-init -q -y --no-modify-path || exit_with_error 1 "Failed to install rustup"
    # shellcheck disable=SC1091
    . "${HOME}/.cargo/env"
  fi
fi

if ! command -v rustup >/dev/null 2>&1; then
  log_error "rustup not found, skipping cargo package installs"
  exit 0
fi

verbose_echo "Updating Rust stable toolchain via rustup"

output="$(rustup -q show active-toolchain 2>&1)" || \
  exit_with_error 1 "Failed to get active Rust toolchain: ${output}"

output="$(rustup -q default stable 2>&1)" || \
  exit_with_error 1 "Failed to set Rust default toolchain to stable: ${output}"

# Required packages (log error if unavailable)
packages=(
#{{ template "package_list.tmpl" (dict "mgr" "cargo" "optional" false "ctx" .) }}
)
cargo_install "${packages[@]}"

# Optional packages (errors suppressed)
packages=(
#{{ template "package_list.tmpl" (dict "mgr" "cargo" "optional" true "ctx" .) }}
)
cargo_install 0 "${packages[@]}"

verbose_echo "Done"
# vim: set ft=bash shiftwidth=2 tabstop=2:
