#!/usr/bin/env bash
# SPDX-License-Identifier: MIT
# Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>
#
#{{ template "install_helpers.sh" . }}

set -euo pipefail

__do_dconf() {
  if command -v dconf >/dev/null 2>&1; then
    dconf write /org/gnome/desktop/background/show-desktop-icons true
    dconf write /org/gnome/mutter/dynamic-workspaces false
    dconf write /org/gnome/desktop/wm/preferences/num-workspaces 4
    dconf write /org/gnome/shell/extensions/dash-to-dock/dock-fixed false
    dconf write /org/gnome/shell/extensions/dash-to-dock/isolate-workspaces true
    dconf write /org/gnome/shell/extensions/tiling-assistant/tiling-popup-all-workspace false
    dconf write /org/gnome/desktop/sound/event-sounds false
  fi
  # Note, we'll configure fonts in separate font script
}

__do_gsettings() {
  if command -v gsettings >/dev/null 2>&1; then
    gsettings set org.gnome.desktop.interface enable-animations false
    gsettings set org.gnome.desktop.interface enable-hot-corners false
    gsettings set org.gnome.desktop.calendar show-weekdate true
    gsettings set org.gnome.desktop.input-sources xkb-options '["caps:escape"]'
  fi
}

__keyboard_shortcuts() {
  # shellcheck disable=SC2154  # chezmoi_root defined in install_helpers.sh template
  local sum_file="${chezmoi_root}/.keybindings.md5"
  local keys="${chezmoi_root}/data/gnome_keybindings"
  local script="${chezmoi_root}/lib/keybindings.pl"

  if ! running_gnome; then
    verbose_echo "Skipping Gnome keyboard shortcuts, not running Gnome"
    return
  fi

  if ! md5sum --check --quiet "${sum_file}" > /dev/null 2>&1; then
    "${script}" -i "${keys}"
    md5sum "${keys}" > "${sum_file}"
  else
    verbose_echo "Skipping Gnome keyboard shortcuts, already applied"
  fi
}

__do_dconf
__do_gsettings
__keyboard_shortcuts

# vim: set ft=bash shiftwidth=2 tabstop=2:
