#!/usr/bin/env bash
# SPDX-License-Identifier: MIT
# Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>
#
#{{ template "install_helpers.sh" . }}
#{{ template "install_helpers_apt.sh" . }}
#{{ template "install_helpers_snap.sh" . }}

# PPAs and required packages (non-GUI) ---------------------------------------
#{{ template "ppa_list.tmpl" (dict "gui_only" false "ctx" .) }}
packages=(
#{{ template "package_list.tmpl" (dict "mgr" "apt" "optional" false "ctx" .) }}
)
apt_install "${packages[@]}"

# Optional packages (errors suppressed; may not be in all repo versions) -----
packages=(
#{{ template "package_list.tmpl" (dict "mgr" "apt" "optional" true "ctx" .) }}
)
apt_install 0 "${packages[@]}"

# GUI-only packages (runtime check required) ---------------------------------
if running_gui; then
#{{ template "ppa_list.tmpl" (dict "gui_only" true "ctx" .) }}
  packages=(
#{{ template "package_list.tmpl" (dict "mgr" "apt" "optional" false "gui_only" true "ctx" .) }}
  )
  apt_install "${packages[@]}"
  packages=(
#{{ template "package_list.tmpl" (dict "mgr" "apt" "optional" true "gui_only" true "ctx" .) }}
  )
  apt_install 0 "${packages[@]}"
fi

# GNOME-specific packages (runtime check required) ---------------------------
if running_gnome; then
#{{ template "ppa_list.tmpl" (dict "gnome_only" true "ctx" .) }}
  packages=(
#{{ template "package_list.tmpl" (dict "mgr" "apt" "optional" false "gnome_only" true "ctx" .) }}
  )
  apt_install "${packages[@]}"
  packages=(
#{{ template "package_list.tmpl" (dict "mgr" "apt" "optional" true "gnome_only" true "ctx" .) }}
  )
  apt_install 0 "${packages[@]}"
fi

# Snap packages --------------------------------------------------------------
packages=()
command -v tldr >/dev/null 2>&1 || packages+=(tldr)
snap_install "${packages[@]}"

# vim: set ft=bash shiftwidth=2 tabstop=2:
