#!/usr/bin/env bash
# SPDX-License-Identifier: MIT
# Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>
#
#{{ template "install_helpers.sh" . }}

if command -v pwsh >/dev/null 2>&1; then
  verbose_echo "PowerShell already installed"
  exit 0
fi

#{{ if eq .chezmoi.os "linux" }}
#{{ if eq .chezmoi.osRelease.id "ubuntu" }}
#{{ template "install_helpers_apt.sh" . }}
# shellcheck source=/dev/null
source /etc/os-release
_ms_prod_deb="/tmp/packages-microsoft-prod.deb"
_ms_prod_url="https://packages.microsoft.com/config/ubuntu/${VERSION_ID}/packages-microsoft-prod.deb"
if [[ ! -f /etc/apt/sources.list.d/microsoft-prod.list ]]; then
  confirm_action "Download and install Microsoft repo config for Ubuntu ${VERSION_ID}?" || exit 0
  downloadFile "${_ms_prod_url}" "${_ms_prod_deb}" || exit 0
  sudo dpkg -i "${_ms_prod_deb}" || exit 0
  rm -f "${_ms_prod_deb}"
  sudo apt update -q
fi
apt_install 0 powershell
#{{ else if hasPrefix "fedora" .chezmoi.osRelease.id }}
#{{ template "install_helpers_dnf.sh" . }}
_ms_repo_content="[packages-microsoft-com-prod]
name=packages-microsoft-com-prod
baseurl=https://packages.microsoft.com/rhel/8/prod/
enabled=1
gpgcheck=1
gpgkey=https://packages.microsoft.com/keys/microsoft.asc"

dnf_import_key "https://packages.microsoft.com/keys/microsoft.asc" "Microsoft" || exit 0
dnf_add_repo "/etc/yum.repos.d/microsoft-prod.repo" "${_ms_repo_content}" || exit 0
dnf_install 0 powershell
#{{ else }}
log_error "PowerShell installation not supported on this Linux distro: {{ .chezmoi.osRelease.id }}"
#{{ end }}
#{{ end }}

# vim: set ft=bash shiftwidth=2 tabstop=2:
