#!/usr/bin/env bash
# SPDX-License-Identifier: MIT
# Copyright (C) 2026 Hans Liljestrand <hans@liljestrand.dev>
#
#{{ template "install_helpers.sh" . }}
#{{ template "install_helpers_dnf.sh" . }}

packages=(
  git
  neovim
  tmux
  vim-enhanced
  zsh
#{{ if ne .machineType "min" }}
  bat
  btop
  curl
  dconf
  direnv
  eza
  fd-find
  fzf
  git-crypt
  python3-ipython
  plocate
  ripgrep
  shellcheck
  starship
  tldr
  wget2-wget
# Python stuff
  lbzip2
  xz-lzma-compat
  python-unversioned-command
  python3-pip
#{{ if .needBuildTools }}
  autoconf
  automake
  ccache
  clang
  clang-format
  cmake
  ctags
  gcc-c++
  gcc
  flang
  libxml2-devel
  lld
  llvm
  make
  python3-markdown
  ninja-build
  pkg-config
  pre-commit
  pylint
  rbenv
  rustup
#{{ end }}
#{{ end }}
)
dnf_install "${packages[@]}"

packages=()

#{{ if ne .machineType "min" }}
if running_gnome; then
  packages+=(guake gnome-tweaks)
  command -v dconf >/dev/null 2>&1 || packages+=(dconf-cli)
fi
#{{ end }}

dnf_install 1 "${packages[@]}"

# vim: set ft=bash:
